# Environment (set to "dev" to run a local version of Chromium 
# otherwise it will use @sparticuz/chromium that is just intended to 
# run in AWS Lambda and probabbly will fail on your local machine, and 
# run a fastify server for easy local development.)
ENV=dev

# Buglesstack access_token used to authenticate requests to the Buglesstack API.
# If you don't have a Buglesstack account, you can create one at https://app.buglesstack.com/
BUGLESSTACK_ACCESS_TOKEN=

# Session access token used to add a basic authentication layer to the browser automations
# This token is used to authenticate requests to your the browser automations API.
# You can create a random one from https://it-tools.tech/token-generator
BROWSER_AUTOMATIONS_ACCESS_TOKEN=